<form method="post" action="/<%=@post.id%>">
 <input type="hidden" name="_method" value= "put">   
 <label for="title"></label>
    <input type="text" name="title" value="<%= @post.title %>">

    <label for="body"></label>
    <textarea name="body"><%= @post.body %></textarea>

    <input type="submit" value="Submit">
</form>